<div class="row">
  <div class="col-md-10 offset-md-1">
    <h2>Nový plat</h2>
    <form action="/add/salary/{{employee.id}}" method="POST">
      <div class="form-group row">
        <label class="col-3 col-form-label">Meno</label>
        <div class="col-9">{{employee.name}}</div>
      </div>
      <div class="form-group row">
        <label class="col-3 col-form-label">Priezvisko</label>
        <div class="col-9">{{employee.surname}}</div>
      </div>
      <div class="form-group row required">
        <label for="fromDate" class="col-3 col-form-label">Platný od [mesiac]</label>
        <div class="col-9">
          <input class="form-control{{#if invalid.fromDate}} is-invalid{{/if}}" type="date" value="{{salary.fromDate}}" name="fromDate">
        </div>
      </div>
      <div class="form-group row required">
        <label for="salary" class="col-3 col-form-label">Plat [&euro;/mesiac]</label>
        <div class="col-9">
          <input class="form-control{{#if invalid.salary}} is-invalid{{/if}}" type="text" value="{{salary.salary}}" name="salary">
        </div>
      </div>

      <button type="submit" class="btn btn-primary pull-right">Uložiť</button>
    </form>
  </div>
</div>
