<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="row">
      <div class="col-6">
        <h2>Ucastnici trestnych cinov</h2>
      </div>
      <div class="col-6">
        <input id="participant-search" class="form-control" type="text" placeholder="Hľadaj podľa mena">
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="align-middle">#</th>
          <th scope="col" class="align-middle">Meno</th>
          <th scope="col" class="align-middle">Priezvisko</th>
          <th scope="col" class="align-middle">Rodne cislo</th>
          <th scope="col" class="align-middle">Mesto</th>
          <th scope="col" class="align-middle">Ulica</th>
          <th scope="col" class="align-middle">Typ</th>
          <th>
            <a href="/add/participant" class="btn btn-primary pull-right">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each participants}}
        <tr>
          <th scope="row" class="align-middle">{{this.rowNumber}}</td>
            <td class="align-middle">{{this.name}}</td>
            <td class="align-middle">{{this.surname}}</td>
            <td class="align-middle">{{this.personalNumber}}</td>
            <td class="align-middle">{{this.city}}</td>
            <td class="align-middle">{{this.street}}</td>
            <td class="align-middle">{{this.type}}</td>
            <td>
              <a href="/participant/{{this.personalNumber}}.{{this.crimeId}}.{{this.type}}.{{this.fromDate}}" class="btn btn-primary pull-left">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <form action="/delete/participant/{{this.personalNumber}}.{{this.crimeId}}.{{this.type}}.{{this.fromDate}}" method="POST" class="d-inline pull-right">
                <button type="submit" class="btn btn-danger">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </form>
            </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <ul class="paging">
      {{#each pages}}
      <li>
        {{#if this.actual}}
        <strong>{{this.page}}</strong>
        {{else}}
        <a href="{{this.url}}">{{this.page}}</a>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<script defer="defer">
  window.addEventListener('DOMContentLoaded', function () {
    (function ($) {
      $(document).ready(function () {
        var searchInput = $('#participant-search');
        searchInput.keypress(function (evt) {
          if (evt.which === 13) {
            var query = searchInput.val();
            window.location.href = '/participants?q=' + encodeURIComponent(query);
          }
        });
      });
    })(jQuery);
  });
</script>
